<!-- <div id="add-form" class="modal">
  <form class="modal-content animate">
    <div class="imgcontainer">
      <span onclick=closeAddForm() class="close" title="Close Modal">&times;</span>
      <img src="./Images/Image1.jfif" alt="Avatar" class="avatar">
    </div> -->
   
  <form >
   
    <div class="form-group">
      <label for="name">FirstName</label>
      <input type="text" class="form-control" id="name"
             required
             [(ngModel)]="FirstName" name="fname" >
    </div>
    <div class="form-group">
      <label for="alterEgo">LastName</label>
      <input type="text"  class="form-control" 
             [(ngModel)]="LastName" name="LastName" #lname (keyup)="autoPopulate(pname.value)" >
    </div>
    <div class="form-group">
      <label for="name">PrefferedName</label>
      <input type="text" class="form-control" 
             required
             [ngModel]="LastName" name="LastName" #pname (keyup)="autoPopulate(pname.value)" >
    </div>
    <div class="form-group">
      <label for="name">Email</label>
      <input type="text" class="form-control" 
             required
             [(ngModel)]="Email" name="email" >
    </div>
    <div class="form-group">
      <label for="name">Job</label>
      <select class="border-1 form-control w-100" #job (click)="getJob(job.value)">
        <option value="" [selected]=true [disabled]="true">Select Job Title</option>
        <option *ngFor="let element of jobsList" >{{element}}</option>
      </select> 
    </div>
    <div class="form-group">
      <label for="name">Office</label>
      <select class="border-1  form-control " #office (click)="getOffice(office.value)">
        <option value="" [selected]=true [disabled]="true">Select Office</option>
        <option *ngFor="let element of officeList" >{{element}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="name">Department</label>
      <select class="border-1 form-control" #department (click)="getDepartment(department.value)" >
        <option value="" [selected]=true [disabled]="true">Select Department</option>
        <option *ngFor="let element of departmentList" >{{element}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="name">Phone Number</label>
      <input type="text" class="form-control" 
             required
             [(ngModel)]="PhoneNumber" name="PhoneNumber" >
    </div>
    <div class="form-group">
      <label for="name">SkypeId</label>
      <input type="text" class="form-control" 
             required
             [(ngModel)]="SkypeId" name="SkypeId" >
    </div>
    <!-- <div class="form-group">
      <label for="name">SkypeId</label>
      <input type="text" class="form-control" id="name"
             required
             [(ngModel)]="SkypeId" name="name" >
    </div> -->
    <button type="button" (click)="addEmployee()">Add</button>
    </form>
    
