FirstName <input type="text"><br>
LastName <input type="text"><br>
preferredname <input type="text"><br>
Job <input type="text"><br>
Department <input type="text"><br>
Office <input type="text"><br>
Email <input type="text"><br>
Phone <input type="text"><br>
skypeid <input type="text"><br>
<!-- <div class="modal">
    <form class="modal-content animate">
      <div class="imgcontainer">
        <span  class="close" title="Close Modal">&times;</span>
        <img src="./Images/Image1.jfif" alt="Avatar" class="avatar">
      </div>
      <div class="container p-5 ">
        <div class="row">
          <div class="col">
              <label><b>First Name: </b></label>
              <input type="text" required class="w-100 h-15" id="fname" placeholder="FIRST NAME" value="">
              <label><b>Last Name</b></label>
              <input type="text" class="w-100"id="lname" value=""placeholder="LAST NAME"><br>
              <label><b>Preferred Name</b></label>
              <input type="text" class="w-100"id="preferredname"value=""placeholder="PREFERRED NAME" ><br>
              <label><b>Emaill Address</b></label>
              <input type="text" class="w-100 h-auto border" id="email"value=""placeholder="EMAIL ADDRESS"><br>
              <label><b>Job</b></label><br>
              <select id="job" class="border-1 w-100 text-black " type="text">
                <!-]- <div id="hide"></option>
                <option>SharePoint Practice Head</option>
                <option>.Net Development Lead  </option>
                <option> Recruiting Expert </option>
                <option> BI Developer</option>
                <option> Business Analyst</option>
                <option> Operations Manger </option>
                <option> Software Engineer</option>
                <option> Business Analyst</option>
                <option> Product Manger </option> --
              </select>
          </div>
          <div class="col ps-5 ">
              <label><b class="mb-5 ms-2 pb-5">Office</b></label>
              <select id="selectoffice" class="border-1 w-100 text-black m-2">
                <option  value=""disabled selected hidden>SELECT OFFICE</option>
                <option>Seatle</option>
                <option>India</option>
              </select>
              <label><b  class="ms-2">Department</b></label><br>
              <select id="selectdep" class="border-1 w-100 text-black m-2">
                <!- <option  value=""disabled selected hidden>PLEASE SELECT DEPARTMENT</option>
                <option>IT Department</option>
                <option>HR Department</option>
                <option>Sales Department</option>
                <option>MD Department</option> --
              </select>
              <label><b  class="ms-2">Phone Number</b></label>
              <input type="text" id="pnum" name="phone"  class="w-100 border m-2"placeholder="PHONE NUMBER"><br>
              <label><b class="ms-2">Skype Id</b></label>
              <input type="text" class="w-100 m-2 border" id="skypeid"placeholder="SKYPE ID"><br><br>
          </div>
        </div>
        <button type="button" onclick="addEmployee()" >Submit</button>
      </div>
    </form>
  </div> -->
