form{
    overflow: auto;
}
.req {
    color: red;
}

.form-input {
    width:250px;
    height: 150px;
    padding:20px;
    background-image: url('/assets/Images/default-profile.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 50%;
    display:block;
    object-fit: contain;
  
    cursor:pointer;
  }
  .form-input input {
    display:none;
  }
  .profile{
    width:350px;
    height: 150px;
    padding:20px;
    border-radius: 50%;
  }
  .empProfile input{
    display:none;
  }
 