.box{
   
    border: 1px;
    border-radius: 10px;
    padding-left: 20px;
    background-color: rgb(177, 177, 177);

}
.box div{
    font-size: 17px;
    font-weight: 500;
}
.profile{
  
    height: 150px;
    padding:20px;
  
    border-radius: 50%;
  }
  .profile img{
      width: 100%;
      height: 100%;
      object-fit: contain;
  }