
<!-- <label class="fs-5 m-3 ms-0">Search</label>!--<i class="fa fa-search"></i>
<input type="text" #searchbox placeholder="Enter Any Keyword"(keyup)="searchboxValue(searchbox.value)" >
<button type="button" class="clear-button ms-3 p-2 ps-4 pe-4 " >clear</button>
<span class="fs-5 m-3 ms-5 ps-4">Filter By</span>
<select class="border-1" #select (change)="onSelected(select.value)"  >
    <option *ngFor="let array of fillterbyarray">{{array}}</option>
</select>  -->
<!-- <div id="empList">
    <div *ngFor="let emp of employelistArray ">
      <div class="list" >
          <div class="row">
              <div class="col-4 ">
                <img class="profile p-2 " src=".\assets\Images\Image1.jfif">
              </div>
          <div class="col p-0">
              <div>{{emp.FirstName}} {{emp.LastName}}</div>
              <div>{{emp.Job}}</div>
              <div>{{emp.Department}}</div>
              <i><img class="icon" src="./assets/Images/call-grey.png"></i>
              <i><img class="icon" src="./assets/Images/popup.png"></i>
              <i><img class="icon" src="./assets/Images/message.png"></i>
              <i><img class="icon" src="./assets/Images/heart.png"></i>
              <i><img class="icon" src="./assets/Images/star.png"></i>
          </div>
        </div>
      </div>
      </div>   
  </div> -->