
    <h6>Departments</h6>
    <div><a [routerLink]="['/sidebar/','IT']">IT</a></div>
    <div ><a [routerLink]="['/sidebar/','HR']">Human Resources</a></div>
    <div><a [routerLink]="['/sidebar/','MD']">MD</a></div>
    <div><a [routerLink]="['/sidebar/','Sales']">Sales</a></div>
    <h6 class="mt-5">Offices</h6>
    <div ><a [routerLink]="['/sidebar','Seatle']">Seatle</a></div>
    <div ><a [routerLink]="['/sidebar','India']">India</a></div>
    <h6 class="mt-5">Job Titles</h6>
    <div><a [routerLink]="['/sidebar','SharePoint Practice Head']">SharePoint Practice Head</a></div>
    <div><a [routerLink]="['/sidebar','.Net Development Lead']">.Net Development Lead</a></div>
    <div><a [routerLink]="['/sidebar','Recruiting Expert']">Recruiting Expert</a></div>
    <div><a [routerLink]="['/sidebar','BI Developer']">BI Developer</a></div>
    <div><a [routerLink]="['/sidebar','Business Analyst']">Business Analyst</a></div>
