
    <h3>Departments</h3>
    <div><a [routerLink]="['/sidebar/','IT Department']">IT({{itcount}})</a></div>
    <div ><a [routerLink]="['/sidebar/','Human Resources']">Human Resources({{hrcount}})</a></div>
    <div><a [routerLink]="['/sidebar/','MD Department']">MD({{mdcount}})</a></div>
    <div><a [routerLink]="['/sidebar/','Sales']">Sales({{salescount}})</a></div>
    <h3 class="mt-5">Offices</h3>
    <div ><a [routerLink]="['/sidebar','Seatle']">Seatle({{seatlecount}})</a></div>
    <div ><a [routerLink]="['/sidebar','India']">India({{indiacount}})</a></div>
    <h3 class="mt-5">Job Titles</h3>
    <div><a [routerLink]="['/sidebar','SharePoint Practice Head']">SharePoint Practice Head({{sharepointcount}})</a></div>
    <div><a [routerLink]="['/sidebar','.Net Development Lead']">.Net Development Lead({{netcount}})</a></div>
    <div><a [routerLink]="['/sidebar','Recruiting Expert']">Recruiting Expert({{recount}})</a></div>
    <div><a [routerLink]="['/sidebar','BI Developer']">BI Developer({{bicount}})</a></div>
    <div><a [routerLink]="['/sidebar','Business Analyst']">Business Analyst({{bacount}})</a></div>
    <a  ng-model="more" (click)="viewMore()" class="text-primary">view more</a>
    <div *ngIf='more'>
        <div><a [routerLink]="['/sidebar','Operations Manger']">Operations Manger({{omcount}})</a></div>
        <div><a [routerLink]="['/sidebar','Product Manger']">Product Manger({{pmcount}})</a></div>
        <div><a [routerLink]="['/sidebar','Software Engineer']">Software Engineer({{secount}})</a></div>
        <a  ng-model="more" (click)="viewLess()">view less</a>
    </div>
   
